
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
    box-sizing: border-box;
}


main {
    background-color: #aaaaaa;
    color: black;
    padding: 20px;
}


.image-grid {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.image-grid img {

    max-width: calc(33.33% - 10px);
    height: auto;
}


.image-grid img {
    width: auto    ;
    height: auto;
}


footer {
    height: 50px;
    padding: 20px;
    background-color: #193968;
    color: white;
    border-top: 1px solid white;
    box-sizing: border-box;
}

footer p {
    height: calc(100% - 0px); 
    margin: 0;
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}
